extends theme/_login_layout

block content
    .login-box
        .logo
            a(href='javascript:void(0);')
                | Admin
                b BSB
            small Admin BootStrap Based - Material Design
        .card
            .body
                div
                    form#sign_in(method='POST' action="/admin/auth")
                        input.form-control(type='hidden', name='_csrf', value=csrfToken)

                        .msg Sign in

                        // Show errors.
                        - var errorText = ""
                        each error in errors
                            - errorText += error.msg + ".\n"
                        if errors.length > 0
                            div(class="alert alert-danger") #{errorText}

                        - var usernameClass = (hasError('username')) ? 'form-line focused error' : 'form-line';
                        .input-group
                            span.input-group-addon
                                i.material-icons person
                            .div(class=usernameClass)
                                input.form-control(type='text', name='username', placeholder='Username', autofocus='')

                        - var passwordClass = (hasError('password')) ? 'form-line focused error' : 'form-line';
                        .input-group
                            span.input-group-addon
                                i.material-icons lock
                            .div(class=passwordClass)
                                input.form-control(type='password', name='password', placeholder='Password')
                        .row
                            .col-xs-8.p-t-5
                                input#rememberme.filled-in.chk-col-pink(type='checkbox', name='rememberme')
                                label(for='rememberme') Remember Me
                            .col-xs-4
                                button.btn.btn-block.bg-pink.waves-effect(type='submit') SIGN IN
                        .row.m-t-15.m-b--20
                            .col-xs-6
                                a(href='sign-up.html') Register Now!
                            .col-xs-6.align-right
                                a(href='forgot-password.html') Forgot Password?