- var errorText = ""
each error in form.errors
    - errorText += error.msg + "<br/>"
if form.errors.length > 0
    div.alert.alert-danger.custom-alert
        div.row
            div.col-lg-1.custom-alert-icon
                i.material-icons error_outline
            div.col-lg-11.custom-alert-text
                i !{errorText}

