if successMessage.length > 0
    div.alert.alert-success.custom-alert
        div.row
            div.col-lg-1.custom-alert-icon
                i.material-icons check
            div.col-lg-11.custom-alert-text
                i #{successMessage}