.content-block {
    margin: 77px 10px 0 315px !important;
}

.custom-alert div {
    margin-bottom: 0 !important;
}

.custom-alert-icon {
    width: 5.33333333% !important;
}

.custom-alert-icon i {
    font-size: 30px !important;
}

.custom-alert-text {
    padding: 5px !important;
}

span.error {
    font-size: 13px;
    display: block;
    margin-top: 3px;
    font-weight: normal;
    color: #F44336;
    font-style: italic;
}

.login-page {
    max-width: 404px !important;
}

.btn:not(.btn-link):not(.btn-circle) i {
    top: 0px;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}